/* Main page example */
.main .handsontable-holder {
  min-height: 336px;
  padding: 0;
  /* fade-in onload */
    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

    opacity:0;

    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.handsontable {
   &.overflowHidden {
     overflow: hidden !important;
   }
   &.overflowScroll {
//     overflow-y: scroll;
//     overflow: hidden;
   }

  .currentRow {
    background-color: #E7E8EF;
  }

  .currentCol {
    background-color: #F9F9FB;
  }

  .handsontableInput {
    line-height: 22px;
  }
}

.intro-container {
  position: relative;
  top: 32px;
}
#intro.handsontable {
  margin: 0 auto;
  background: transparent !important;
}

/* All examples */
#intro.handsontable,
#examples.handsontable,
#basic.handsontable,
#advanced.handsontable,
#personal.handsontable,
#finance.handsontable,
#science.handsontable,
#sport.handsontable {
  background: white;

  &:not(.ht_master) table {
//    box-shadow: 0 1px 0 #ccc;
    box-shadow: none;
  }

  td, th {
    font-size: 13px;
    line-height: 22px;
  }
  textarea {
    transition: none;
  }
}
.examples .handsontable {
  .wtHolder {
    padding-bottom: 1px;
  }
  &.htContextMenu table tbody tr td div {
    font-size: 13px;
  }
}

/* Basic */
#examples {
  min-height: 948px;
}

/* Advanced */
#advanced {
  .htCore > tbody > tr:nth-child(odd) > td {
     background-color: #f9f9f9;
  }
}



