.row {
  @media #{$medium} {
    max-width: 75em;
  }
}
header {
  @media #{$small-only} {
    padding: 0.865rem 0;
    .name img {
      margin: 0 1rem;
    }
    & .top-bar-section ul > li:hover a {
      box-shadow: none;
    }
    & .top-bar-section .right li .dropdown {
      left: 104%;
    }
  }
  & .top-bar-section li:not(.has-form) a:not(.button) {
    @media #{$medium-only} {
      padding: 0 0.5rem;
    }
  }
}
.main header {
  @media #{$small-only} {
    padding-bottom: 2rem;
  }
}
.banner {
  @media #{$small-only} {
    padding: 0;
    h3 {
      font-size: 24px;
    }
  }
}
.main .banner {
  @media #{$small-only} {
    padding: 1rem 0 3rem;
  }
  @media #{$medium-only} {
    padding: 4rem 0 6rem;
  }
  & h1 {
    @media #{$small-only} {
      font-size: 29px;
    }
  }
  & .download {
    @media #{$small-only} {
      margin-top: 1rem;
    }
  }
}
.what-is {
  & .col-left {
    @media #{$small-only} {
      padding: 3rem 0 3rem 0.9375rem;
    }
    @media #{$medium-only} {
      padding: 3rem 0 3rem 0.9375rem;
    }
  }
}
.flavors {
  @media #{$small-only} {
    padding: 3rem 0 2rem;
  }
  & li {
    @media #{$small-only} {
      margin: 1rem 0;
    }
  }
}
.testimonials {
  @media #{$small-only} {
    padding-bottom: 0.5rem;
    & .pricing-testimonial p.t-txt {
      font-size: 29px;
    }
  }
}
.clients {
  @media #{$small-only} {
    padding: 3rem 0 1rem;
  }
  & h2 {
    @media #{$small-only} {
      margin-bottom: 1rem;
    }
  }
}
.try{
  & h2 {
    @media #{$small-only} {
      font-size: 28px;
    }
  }
}
.about-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & p.about-team {
      width: 100%;
    }
    .team {
      margin-top: 2rem;
    }
  }
}
.feature-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
  }
}
.licensing-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & .pgraph {
      width: 100%;
    }
  }
}
.examples-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & .tabs {
      padding: 0;
      display: block;
    }
    & .tabs dd {
      width: 50%;
      top: 0!important;
    }
    & .tabs dd > a {
      padding: 1.2rem 0;
      box-shadow: none;
      border-width: 1px 1px 0 1px;
      border-color: #dfdfdf;
    }
    & .tabs dd:nth-child(3) > a, & .tabs dd:nth-child(5) > a {
      border-left: 1px solid #dfdfdf;
    }
  }
}
.pricing-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & h3.shead {
      margin-bottom: 3rem;
    }
    & .pgraph {
      width: 100%;
    }
    & .tabs dd {
      width: 50%;
      top: 0!important;
    }
    & .tabs dd > a {
      padding: 1.2rem 0;
      box-shadow: none;
      border-width: 1px 1px 0 1px;
      border-color: #dfdfdf;
    }
    & .tabs dd:nth-child(1) > a, & .tabs dd:nth-child(3) > a {
      border-left: 1px solid #dfdfdf;
    }
    & .tabs-content li {
      border-right: 1px solid #dfdfdf;
    }
    & #pricing-plans {
      margin-top: 0;
    }
    & .price-faq h2 {
      margin: 1rem 0 2rem;
    }
  }
  @media #{$medium-only} {
      & .pgraph {
        width: 90%;
      }
    & .tabs dd {
      width: 18%;
    }
  }
}
.plain-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
  }
}
.contact-details {
  @media #{$small-only} {
    margin: 2rem 0;
    & .panel {
      margin: 2rem 0 0;
    }
    & p.pgraph a {
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
.footer {
  @media #{$small-only} {
    padding: 2rem 0 1rem;
    & i.fa {
      display: none;
    }
  }
}