header {
  @media #{$small-only} {
    padding: 0.875rem 0;
    .name img {
      margin: 0 1rem;
    }
    .top-bar .toggle-topbar.menu-icon {
      margin-top: 0;
      top: 10%;
      right: 14px;
    }
    & .top-bar-section ul li a {
      padding: .36rem 0.875rem!important;
      font-size: 15px;
      box-shadow: none!important;
    }
    & .top-bar-section .right li .dropdown {
      left: 104%;
    }
    & .top-bar-section li .dropdown li a:hover {
      background: none!important;
    }
  }
  @media #{$medium-only} {
    .name img {
      max-width: 147px;
    }
    & .top-bar-section ul li {
      margin: 0 0.3rem;
    }
    & .top-bar-section ul li a {
      font-size: 13px!important;
    }
  & .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 0.5rem;
    }
  }
}
.main header {
  @media #{$small-only} {
    padding-bottom: 2rem;
  }
}
.banner {
  @media #{$small-only} {
    padding: 0;
    text-align: center;
  }
  @media #{$medium-only} {
    padding: 0;
    text-align: center;
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 22px;
    }
  }
}
.main .banner {
  @media #{$small-only} {
    padding: 1rem 0 3rem;
    & h1 {
      margin-top: 0;
      font-size: 36px;
      line-height: 1.3;
    }
    & h2 {
      font-size: 22px;
      margin: 1rem;
    }
    & .banner-buttons .button.download {
      margin-top: 1rem;
      padding: 0.8rem 2rem 0.875rem 2rem;
      background: none;
    }
    & .banner-buttons .button {
      width: 100%;
      font-size: 20px;
      border-color: #fff;
    }
  }
  @media #{$medium-only} {
    padding: 4rem 0 7rem;
  }
}
.circles {
  @media #{$small-only} {
    & i {
      width: 10rem;
      height: 10rem;
      font-size: 5rem;
      line-height: 10rem;
    }
    & p {
      margin-bottom: 2rem;
    }
    & h3 {
      font-size: 18px;
    }
  }
}
.what-is {
  & .col-left {
    @media #{$small-only} {
      padding: 3rem 0 3rem 0.9375rem;
    }
    @media #{$medium-only} {
      padding: 3rem 0 3rem 0.9375rem;
    }
  }
}
.flavors {
  @media #{$small-only} {
    padding: 3rem 0 2rem;
    & li {
      margin: 1rem 0;
    }
  }
}
.testimonials {
  @media #{$small-only} {
    padding-bottom: 0.5rem;
    & .pricing-testimonial p.t-txt {
      font-size: 29px;
    }
  }
}
.clients {
  @media #{$small-only} {
    padding: 3rem 0 1rem;
    & h2 {
      margin-bottom: 1rem;
    }
  }
}
.try{
  & h2 {
    @media #{$small-only} {
      font-size: 28px;
    }
  }
}
.about-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & p.about-team {
      width: 100%;
    }
    .team {
      margin-top: 2rem;
    }
  }
}
.features-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
  }
  & ul {
    margin-top: 4rem;
  }
}
.licensing-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & .pgraph {
      width: 100%;
    }
  }
}
.examples-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & .tabs {
      padding: 0;
      display: block;
    }
    & .tabs dd {
      width: 50%;
      top: 0!important;
    }
    & .tabs dd > a {
      padding: 1.2rem 0;
      box-shadow: none;
      border-width: 1px 1px 0 1px;
      border-color: #dfdfdf;
    }
    & .tabs dd:nth-child(3) > a, & .tabs dd:nth-child(5) > a {
      border-left: 1px solid #dfdfdf;
    }
  }
  @media #{$medium-only} {
    & .tabs {
      padding: 0 1rem;
    }
  }
}
.services-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
    & h3.shead {
      margin-bottom: 3rem;
    }
    & .pgraph {
      width: 100%;
    }
    & .tabs dd {
      width: 50%;
      top: 0!important;
    }
    & .tabs dd > a {
      padding: 1.2rem 0;
      box-shadow: none;
      border-width: 1px 1px 0 1px;
      border-color: #dfdfdf;
    }
    & .tabs dd:nth-child(1) > a, & .tabs dd:nth-child(3) > a {
      border-left: 1px solid #dfdfdf;
    }
    & .tabs-content img.paypal-badge {
      float: none;
    }
    & .tabs-content li {
      border-right: 1px solid #dfdfdf;
    }
    & .tabs-content .button {
      width: 100%;
    }
    & #pricing-plans {
      margin-top: 0;
    }
    & .price-faq h2 {
      margin: 1rem 0 2rem;
    }
  }
  @media #{$medium-only} {
    & .tabs dd {
      width: 12.6%;
    }
    & .tabs dd:last-child {
      width: 12.3%;
    }
  }
}

.community-details {
  @media #{small-only} {
    margin: 2rem 0 0;
  }
  & ul {
    margin-top: 4rem;
  }
}
.plain-details {
  @media #{$small-only} {
    margin: 2rem 0 0;
  }
}
.contact-details {
  @media #{$small-only} {
    margin: 2rem 0;
    & .panel {
      margin: 2rem 0 0;
    }
    & p.pgraph a {
      font-weight: 300;
      font-size: 1rem;
      word-wrap: break-word;
    }
  }
}
.signup {
  @media #{$small-only} {
    background-image: none;
    .sign-up-details {
      h2.mhead {
        font-size: 30px;
      }
      h3.shead {
        font-size: 21px;
      }
      h4 {
        margin-top: 50px;
        font-size: 16px;
      }
      .form {
        padding: 6%;
        input[type="submit"] {
          width: 100%;
        }
      }
    }
    .footer {
      margin-top: 60px;
    }
  }
  @media #{$medium-only} {
    .sign-up-details {
      h2.mhead {
        font-size: 32px;
      }
    }
  }
}
.footer {
  @media #{$small-only} {
    padding: 2rem 0 1rem;
    & i.fa {
      display: none;
    }
  }
}
