extends ../layouts/base

block variables
    page_name = "401 Unauthorized access"
    page_class = "error-401"
    page_subclass = "subpage"
    title = "401 Unauthorized access"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
  .error-details
    .row
      .large-12.columns.text-center
        h2.mhead You are not authenticated to access this page.
        h3.shead.show-for-medium-up But guess what, you can still play with Handsontable below.

        .row.show-for-medium-up
          #example.hot
          script(src="#{data.baseUrl}scripts/401.js")

