extends ../layouts/base

block variables
    page_name = "403 Forbidden resource"
    page_class = "error-403"
    page_subclass = "subpage"
    title = "403 Forbidden resource"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
  .error-details
    .row
      .large-12.columns.text-center
        h2.mhead You don’t have permission to access this resource.
        h3.shead.show-for-medium-up But guess what, you can still play with Handsontable below.

        .row.show-for-medium-up
          #error.hot
          script(src="#{data.baseUrl}scripts/403.js")

