extends ../layouts/base

block variables
    page_name = "404 Page not found"
    page_class = "error-404"
    page_subclass = "subpage"
    title = "404 Page not found"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
  .error-details
    .row
      .large-12.columns.text-center
        h2.mhead We couldn’t find the page you’re looking for.
        h3.shead.show-for-medium-up But guess what, you can still play with Handsontable below.

        .row.show-for-medium-up
          #example.hot
          script(src="#{data.baseUrl}scripts/404.js")
