block footer
    .row.footer-menu
        .large-10.columns.small-centered
            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-2
                li
                    ul.no-bullet
                        li.heading
                            p Overview
                        li
                            a(href="/about-us.html") About us
                        li
                            a(href="/features.html") Features
                        li
                            a(href="/licensing.html") Licensing
                        li
                            a(href="/examples.html") Examples
                li
                    ul.no-bullet
                        li.heading
                            p Developers
                        li
                            a(href="http://developer.handsontable.com") Documentation
                        li
                            a(href="/pricing.html") Pricing
                        li
                            a(href="https://github.com/handsontable/handsontable", target="_blank") GitHub
                        li
                            a(href="https://groups.google.com/forum/#!forum/handsontable", target="_blank") Google Group
                li
                    ul.no-bullet
                        li.heading
                            p Legal
                        li
                            a(href="/terms-of-use.html") Terms of use
                        li
                            a(href="/privacy-policy.html") Privacy policy
                        li
                            a(href="/credits.html") Credits
                li
                    ul.no-bullet
                        li.heading
                            p Contact
                        li
                            p Handsoncode
                        li
                            p
                                a(href="/contact-us.html") Contact us
                        li
                            a(href="https://twitter.com/handsontable", target="_blank") Twitter
    .row.copyright
        .large-10.columns.small-centered
            ul.small-block-grid-2
                li.text-left
                    a(href="/about.html")
                        img(src="#{data.baseUrl}images/handsoncode-logo-footer.png", alt="Handsoncode")
                li.text-right
                    span
                        | All trademarks belong to their respective owners. &nbsp;&nbsp;Handsoncode &copy; #{""}
                        script
                            document.write( new Date().getFullYear() );