block navigation
    .row
        nav.top-bar(data-topbar="", role="navigation")
            ul.title-area
                li.name
                    a(href="/")
                        img(data-interchange="[#{data.baseUrl}images/logo.png, (default)], [#{data.baseUrl}images/logo-retina.png, (retina)]",
                        src="#{data.baseUrl}images/logo.png", alt="Handsontable")
                li.toggle-topbar.menu-icon
                    a(href="#")
                        span
            section.top-bar-section
                ul.right
                    li.has-dropdown
                        a(href="/about-us.html") About project
                        ul.dropdown
                            li.left
                                a(href="/features.html", class="features-el") Features
                                a(href="/licensing.html", class="licensing-el") Licensing
                                a(href="/about-us.html", class="about-el") About us
                    li
                        a(href="/examples.html", class="examples-el") Examples
                    li
                        a(href="http://docs.handsontable.com") Documentation
                    li
                        a(href="/support-services.html", class="pricing-el") Support services

                    li.has-dropdown
                        a(href="/community.html", class="support-el") Community
                        ul.dropdown
                            li.left
                                a(href="https://github.com/handsontable/handsontable/issues", target="_blank") GitHub issues
                                a(href="https://groups.google.com/forum/#!forum/handsontable", target="_blank") Google Group
                                a(href="http://stackoverflow.com/questions/tagged/handsontable", target="_blank") Stack Overflow
                                a(href="https://twitter.com/handsontable", target="_blank") Twitter
