block navigation
    .row
        nav.top-bar(data-topbar="", role="navigation")
            ul.title-area
                li.name
                    a(href="/")
                        img(data-interchange="[#{data.baseUrl}images/logo.png, (default)], [#{data.baseUrl}images/logo-retina.png, (retina)]",
                        src="#{data.baseUrl}images/logo.png", alt="Handsontable")
                li.toggle-topbar.menu-icon
                    a(href="#")
                        span
            section.top-bar-section
                ul.right
                    li.has-dropdown
                        a(href="/about-us.html") About project
                        ul.dropdown.left
                            li
                              a(href="/features.html", class="features-el") Features
                            li
                              a(href="/licensing.html", class="licensing-el") Licensing
                            li
                              a(href="/about-us.html", class="about-el") About us
                    li
                        a(href="/examples.html", class="examples-el") Examples
                    li
                        a(href="http://developer.handsontable.com/get-started") Documentation
                    li
                        a(href="/pricing.html", class="pricing-el") Pricing

                    li.has-dropdown
                        a(href="/help-and-support.html", class="support-el", data-dropdown="helpSupport", data-options="is_hover:true; hover_timeout:1000") Help and Support
                        ul(id="helpSupport", class="dropdown left", data-dropdown-content)
                          li
                            a(href="https://github.com/handsontable/handsontable/issues", target="_blank") GitHub issues
                          li
                            a(href="https://groups.google.com/forum/#!forum/handsontable", target="_blank") Google Group
                          li
                            a(href="http://stackoverflow.com/questions/tagged/handsontable", target="_blank") Stack Overflow
                          li
                            a(href="/contact-us.html", class="contact-el") Consultancy
                          li
                            a(href="https://twitter.com/handsontable", target="_blank") Twitter
