.show-for-large-up.notification
     .large12.columns
        p.notif-details
            span Great news! Since January we have been working intensively on #{""}
              strong Handsontable PRO #{""}
              | which will introduce many new exciting features.
              | Be first to get notified when it's ready!
            a(href="/sign-up.html?utm_source=handsontable.com&utm_medium=notification&utm_campaign=button", class="btn") Notify me
