.show-for-large-only.notification
     .large12.columns
        p.notif-details
            a(href="/about-us.html")
                img(src="#{data.baseUrl}images/promo/notification-avatar-kspilka.png", alt="Krzysztof Spilka")
            span Hi, we are Handsoncode, an experienced team of front-end developers. #{""}
                | We are available to hire and looking for an exciting opportunities.
            a(href="/contact-us.html", class="btn") Get in touch
