extends ../layouts/base

block variables
    page_name = "Community"
    page_class = "community"
    page_subclass = "subpage"
    title = "Community"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .community-details
        .row
            .large-12.columns.text-center
                h2.mhead Help and support
                h3.shead Grab a helping hand!
                ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
                    li
                        a(href="https://github.com/handsontable/handsontable/issues", target="_blank")
                            i.fa.fa-github.fa-4x
                        h4 GitHub
                        p Report a bug, make a pull request
                            br
                            | or start contributing
                    li
                        a(href="https://groups.google.com/forum/#!forum/handsontable", target="_blank")
                            i.fa.fa-users.fa-4x
                        h4 Google group
                        p Receive a quick answer
                            br
                            | to any question
                    li
                        a(href="http://stackoverflow.com/questions/tagged/handsontable", target="_blank")
                            i.fa.fa-stack-overflow.fa-4x
                        h4 Stack Overflow
                        p In case of problems,
                            br
                            | ask the community
                    li
                        a(href="/contact-us.html", target="_blank")
                            i.fa.fa-laptop.fa-4x
                        h4 Consultancy
                        p Hire us to deploy
                            br
                            | your app faster
                    li
                        a(href="https://twitter.com/handsontable", target="_blank")
                            i.fa.fa-twitter.fa-4x
                        h4 Twitter
                        p Get the latest news
                            br
                            | about Hansontable
