extends ../layouts/base

block variables
    page_name = "Contact us"
    page_class = "contact-us"
    page_subclass = "subpage"
    title = "Contact us"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .contact-details
        .row
            .small-12.columns.text-center
                h2.mhead Interested in hiring us?
                h3.shead Let's get in touch
        .row
            .large-4.medium-8.small-10.columns.small-centered.text-center
                .panel
                    p.pgraph
                        a(href="mailto:hello@handsontable.com") hello@handsontable.com