extends ../layouts/base

block variables
    page_name = "Credits"
    page_class = "credits"
    page_subclass = "subpage"
    title = "Credits"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .plain-details
        .row
            .large-12.columns
                ul.large-block-grid-1.medium-block-grid-1.small-block-grid-1
                    li
                        h2.mhead Thanks to all our supporters #{""}
                            i.fa.fa-heart
                        hr
                        p.pgraph
                            dl
                                dt People
                                dd
                                    ul.square
                                        li Contributors to Handsontable for all the feedback
                                        li Dominic Pouzine, Andrew Seddon, Jack Parmer, Mike Preuss, Jaroslav Benc for testimonials
                                        li Maciej Laskowski for our team photos
                                        li Mateusz Waliszewski for logo
                                        li Martin Olszewski for text correction
                            dl
                                dt Resources
                                dd
                                    ul.square
                                        li Foundation
                                        li Font Awesome
                                        li Google Fonts
                            dl
                                dt Software
                                dd
                                    ul.square
                                        li WebStorm
                                        li Redbooth
                                        li Trello
                            dl
                                dt Technology and scripts
                                dd
                                    ul.square
                                        li Jade
                                        li CabinJS
                                        li Grunt
                                        li SASS
                                        li JSDoc