extends ../layouts/base

block variables
    page_name = "Features"
    page_class = "features"
    page_subclass = "subpage"
    title = "Features"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .features-details
        .row
            .large-12.columns.text-center
                h2.mhead Discover powerful features for your next project
                h3.shead and even more to cover all your business requirements
                ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
                    li
                        i.fa.fa-rocket.fa-3x.fa-flip-horizontal
                        h4 Peak performance
                        p
                            | Clean HTML5 code without dependencies painlessly allows you to interact with datasets ranging from 1 to 1 mln rows.
                    li
                        i.fa.fa-table.fa-3x
                        h4 Excel-like appearance
                        p
                            | Table appearance similar to Excel allows you to present data in the desired way on the spot. Edit CSS file if you need customized display.
                    li
                        i.fa.fa-plug.fa-3x
                        h4 Easy data integration
                        p
                            | Maximize the value of your data by playing with it in real time. Integrate to any given data source using flexible API.
                    li
                        i.fa.fa-arrows-h.fa-3x
                        h4 Virtual pagination
                        p
                            | Divide large amount of data into pieces and display small chunks of it in a user friendly way.
                    li
                        i.fa.fa-terminal.fa-3x
                        h4 Native, clean JavaScript
                        p
                            | Lack of dependencies means that the code works at its finest and is easy to implement in various enviroments.
                    li
                        i.fa.fa-calculator.fa-3x
                        h4 Formula support
                        p
                            | Integrates wth our plugin, #{''}
                            a(href="https://github.com/handsontable/RuleJS", target="_blank") RuleJS
                            | , which spupports most of the Excel functions and calculation capabilities.
                    li
                        i.fa.fa-sort-amount-asc.fa-3x
                        h4 Sorting and grouping
                        p
                            | Helps user to shape data in accordance with different criteria. Operations are being done on the fly providing great user experience.
                    li
                        i.fa.fa-check-square-o.fa-3x
                        h4 Well tested
                        p
                            | There are 1000+ tests and that number is growing. They examine the code against typos and common mistakes.
                    li
                        i.fa.fa-tablet.fa-3x
                        h4 iPad 4 supported
                        p
                            | Tablet friendly view with dedidated UI elements that simplifies editing and saving data. Easy navigation using arrow buttons.
                    li
                        i.fa.fa-code.fa-3x
                        h4 Open source license
                        p
                            | We believe that giving is more important that receiving, that"s Handsontable is released under MIT license. Feel free to use it in private and commercial projects.
                    li
                        i.fa.fa-users.fa-3x
                        h4 Active community
                        p
                            | Thousands of developers use Handsontable every day. If you stucked, just ask on the Handsontable Google Group or open new GitHub issue.
                    li
                        i.fa.fa-life-ring.fa-3x
                        h4 Technical support
                        p
                            | Need help, support or a new feature? We deliver projects on time and budget. Let"s to do something great today.