extends ../layouts/base

block variables
    page_name = "Help and Support"
    page_class = "support"
    page_subclass = "subpage"
    title = "Help and Support"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .support-details
        .row
            .large-12.columns.text-center
                h2.mhead Super support!
                h3.shead Flexible and easy to customize solution
                    p.pgraph
                        span icons : boxes (like on GitHub
                        span something
                ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
                    li
                        i.fa.fa-github
                        h4 GitHub
                        p
                    li
                        i.fa.fa-google
                        h4 Google Group
                        p
                    li
                        i.fa.fa-stack-overflow
                        h4 Stack Overflow
                        p
                    li
                        i.fa.fa-laptop
                        h4 Consultancy
                        p
                    li
                        i.fa.fa-twitter
                        h4 Twitter
                        p