extends ../layouts/base

block variables
    page_name = "Join us"
    page_class = "join-us"
    page_subclass = "subpage"
    title = "Join us"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .contact-details
        .row
            .small-12.columns.text-center
                h2.mhead We're looking for skilled developers
                h3.shead Join us and let's grow together!
        .row
            .large-4.medium-6.small-10.columns.small-centered.text-center
                .panel
                    p.pgraph
                        a(href="mailto:hello@handsontable.com") hello@handsontable.com
